body {
    font-family: 'ABeeZee', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: rgb(167, 152, 128);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid grey;
}

#logo {
    margin-left: 50px;
    flex-basis: 60%;
    font-size: 30px;
    letter-spacing: 7px;
} 


/* uses the image as logo */
/* #logo {
    height: 10vh;
    width: 120px;
}

#logo img {
    height: 100%;
    width: 100%;

} */

nav {
    margin-right: 75px;
    font-size: 16px;
    
    /* background-color: rgb(136, 77, 77); */
    
    flex-basis: 40%;
    
    

}

nav ul {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: flex-end;
}


nav ul li {
    border-left: 1px solid grey;
    padding: 0px 40px;
    flex-shrink: 0;
    

}

/* nav ul li + li::before {
    content: " | ";
    height: 10vh;
    width: 10px;
    color: grey;
    padding: 0 5px;
} */

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-image: url("https://www.swopememorialgolfcourse.com/images/slider-2.jpg");
    filter: sepia(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 90vh;
}


.showcase h1 {
    /* text-align: center; */
    position: absolute; 
    bottom: 10px;
    left: 50%;
    right: 50%;

    font-size: 5em;
    color: black;
    z-index: 3;
}

.showcase img {
    width: 200px;
    height: 150px;
    margin-left: 155px;
    z-index: 3;
    filter: sepia();
}

.showcase::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(63, 24, 46, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
} 


